<div class="bd-toc my-lg-0 mb-lg-5">
  <nav>
    <strong class="d-none d-xl-block h6 mb-2 ms-2 text-body-secondary">Content</strong>
    <div class="d-none d-xl-block text-body-secondary" id="TableOfContents">
      <ul>
        <li><a href="#Session1" class="">Session 1: Evolution of the Russian political regime</a></li>
        <li><a href="#Session2" class="">Session 2: Without a Beautiful Russia of the Future: Are There Good Scenarios?</a></li>
        <li><a href="#Session3" class="">Session 3: Is Sustainable Peace with Russia Possible?</a></li>
        <li><a href="#Session4" class="">Session 4: The New Cold War</a></li>
        <li><a href="#Session5" class="">Session 5: Russia and Global Politics</a></li>
        <li><a href="#Session6" class="">Session 6: What Do We Know about the Mood of Russians?</a></li>
        <li><a href="#Session7" class="">Session 7: Repression and Human Rights</a></li>
        <li><a href="#Session8" class="">Session 8: Russian-language media: between those who left and those who staying in Russia</a></li>
        <li><a href="#Session9" class="">Session 9: Economics at War</a></li>
        <li><a href="#Session10" class="">Session 10: Closing discussion</a></li>
      </ul>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close own-close" data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
      </div>
      <div class="offcanvas-body text-body-secondary f-1">
        <ul>
            <li><a href="#Session1" class="offcanvas-link">Session 1: Evolution of the Russian political regime</a></li>
            <li><a href="#Session2" class="offcanvas-link">Session 2: Without a Beautiful Russia of the Future: Are There Good Scenarios?</a></li>
            <li><a href="#Session3" class="offcanvas-link">Session 3: Is Sustainable Peace with Russia Possible?</a></li>
            <li><a href="#Session4" class="offcanvas-link">Session 4: The New Cold War</a></li>
            <li><a href="#Session5" class="offcanvas-link">Session 5: Russia and Global Politics</a></li>
            <li><a href="#Session6" class="offcanvas-link">Session 6: What Do We Know about the Mood of Russians?</a></li>
            <li><a href="#Session7" class="offcanvas-link">Session 7: Repression and Human Rights</a></li>
            <li><a href="#Session8" class="offcanvas-link">Session 8: Russian-language media: between those who left and those who staying in Russia</a></li>
            <li><a href="#Session9" class="offcanvas-link">Session 9: Economics at War</a></li>
            <li><a href="#Session10" class="offcanvas-link">Session 10: Closing discussion</a></li>
          </ul>
          <a href="https://www.youtube.com/@Ostraneimire" target="_blank" class="offcanvas-link d-block d-xl-none btn btn-danger rounded-0 text-white mt-5 py-2" role="button">Youtube</a>
      </div>
    </div>
  </nav>
</div>