<div class="bd-toc my-lg-0 mb-lg-5">
  <nav>
    <strong class="d-none d-xl-block h6 mb-2 ms-2 text-body-secondary">Расписание</strong>
    <div class="d-none d-xl-block text-body-secondary" id="TableOfContents">
      <ul>
        <li><a href="#Session1" class="">Сессия 1: Эволюция российского политического режима</a></li>
        <li><a href="#Session2" class="">Сессия 2: Угроза с Востока: Европа готовится к войне?</a></li>
        <li><a href="#Session3" class="">Сессия 3: Война forever: почему провалилась мирная инициатива Трампа и собирается ли Путин воевать вечно</a></li>
        <li><a href="#Session4" class="">Сессия 4: Неототалитарные тенденции и идеологизация общества</a></li>
        <li><a href="#Session5" class="">Сессия 5: Сопротивление и покорность: как российское общество адаптируется к войне и диктатуре</a></li>
        <li><a href="#Session6" class="">Сессия 6: Идентичность и международные отношения во время войны</a></li>
        <li><a href="#Session7" class="">Сессия 7: Экономика не выдерживает войну?</a></li>
        <li><a href="#Session8" class="">Сессия 8: Элитные репрессии, передел собственности и сфер влияния</a></li>
      </ul>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Меню</h5>
        <button type="button" class="btn-close own-close" data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
      </div>
      <div class="offcanvas-body text-body-secondary f-1">
        <ul>
            <li><a href="#Session1" class="offcanvas-link">Сессия 1: Эволюция российского политического режима</a></li>
            <li><a href="#Session2" class="offcanvas-link">Сессия 2: Угроза с Востока: Европа готовится к войне?</a></li>
            <li><a href="#Session3" class="offcanvas-link">Сессия 3: Война forever: почему провалилась мирная инициатива Трампа и собирается ли Путин воевать вечно</a></li>
            <li><a href="#Session4" class="offcanvas-link">Сессия 4: Неототалитарные тенденции и идеологизация общества</a></li>
            <li><a href="#Session5" class="offcanvas-link">Сессия 5: Сопротивление и покорность: как российское общество адаптируется к войне и диктатуре</a></li>
            <li><a href="#Session6" class="offcanvas-link">Сессия 6: Идентичность и международные отношения во время войны</a></li>
            <li><a href="#Session7" class="offcanvas-link">Сессия 7: Экономика не выдерживает войну?</a></li>
            <li><a href="#Session8" class="offcanvas-link">Сессия 8: Элитные репрессии, передел собственности и сфер влияния</a></li>
          </ul>
          <a href="https://www.youtube.com/@Ostraneimire" target="_blank" class="offcanvas-link d-block d-xl-none btn btn-danger rounded-0 text-white mt-5 py-2" role="button">Youtube</a>
      </div>
    </div>
  </nav>
</div>