<div class="bd-toc my-lg-0 mb-lg-5">
  <nav>
    <strong class="d-none d-xl-block h6 mb-2 ms-2 text-body-secondary">Program</strong>
    <div class="d-none d-xl-block text-body-secondary" id="TableOfContents">
      <ul>
        <li><a href="#Session1" class="">Session 1: Evolution of the Russian political regime</a></li>
        <li><a href="#Session2" class="">Session 2: Threat from the East: Is Europe Preparing for War?</a></li>
        <li><a href="#Session3" class="">Session 3: War Forever: Why Trump’s Peace Initiative Failed and Whether Putin Plans to Fight Forever</a></li>
        <li><a href="#Session4" class="">Session 4: Neototalitarian Trends and the Ideologization of Society</a></li>
        <li><a href="#Session5" class="">Session 5: Resistance and Submission: How Russian Society Adapts to War and Dictatorship</a></li>
        <li><a href="#Session6" class="">Session 6: Identity and International Relations During Wartime</a></li>
        <li><a href="#Session7" class="">Session 7: Can the Economy Withstand War?</a></li>
        <li><a href="#Session8" class="">Session 8: Elite Repressions, Redistribution of Property and Spheres of Influence</a></li>
        <li><a href="#Session9" class="">Session 9: Short presentations by discussants and closing of the conference</a></li>
      </ul>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close own-close" data-bs-dismiss="offcanvas" aria-label="Close">
        </button>
      </div>
      <div class="offcanvas-body text-body-secondary f-1">
        <ul>
            <li><a href="#Session1" class="offcanvas-link">Session 1: Evolution of the Russian political regime</a></li>
            <li><a href="#Session2" class="offcanvas-link">Session 2: Threat from the East: Is Europe Preparing for War?</a></li>
            <li><a href="#Session3" class="offcanvas-link">Session 3: War Forever: Why Trump’s Peace Initiative Failed and Whether Putin Plans to Fight Forever</a></li>
            <li><a href="#Session4" class="offcanvas-link">Session 4: Neototalitarian Trends and the Ideologization of Society</a></li>
            <li><a href="#Session5" class="offcanvas-link">Session 5: Resistance and Submission: How Russian Society Adapts to War and Dictatorship</a></li>
            <li><a href="#Session6" class="offcanvas-link">Session 6: Identity and International Relations During Wartime</a></li>
            <li><a href="#Session7" class="offcanvas-link">Session 7: Can the Economy Withstand War?</a></li>
            <li><a href="#Session8" class="offcanvas-link">Session 8: Elite Repressions, Redistribution of Property and Spheres of Influence</a></li>
            <li><a href="#Session9" class="offcanvas-link">Session 9: Short presentations by discussants and closing of the conference</a></li>
          </ul>
          <a href="https://www.youtube.com/@Ostraneimire" target="_blank" class="offcanvas-link d-block d-xl-none btn btn-danger rounded-0 text-white mt-5 py-2" role="button">Youtube</a>
      </div>
    </div>
  </nav>
</div>