<div class="py-5 p-lg-5 bg-white rounded-0 border border-3 border-danger shadow-at">
    <h2 id="Registration" class="display-4 display-5 fw-bold text-center mb-5 ptserif">Registration</h2>

    <p class="d-none">We look forward to seeing you on November 28 and 29 at:</p>
    <p class="fw-bold d-none">Friedrichstrasse 21 <br/>10969 Berlin <br/>TAZ, Panorama Saal on the top floor (not Kantine)</p>
    
    <form method="POST"
          action="https://docs.google.com/forms/d/e/{{with .google}}{{.}}{{end}}/formResponse"
          target="hidden_iframe"
          class="mx-5 d-block"
          id="regform"
          onsubmit="window._regform_submitted = true;">
        <div class="d-lg-flex mb-3">
        <div class="col-12 col-lg-6 pe-lg-3">
            <label for="name" class="form-label display-9">Your first and last name</label>
            <input name="entry.2142176430" type="text" class="form-control-lg w-100 rounded-0 atypique" id="name" aria-describedby="nameHelp" placeholder="Michael Smith" required>
            <div id="nameHelp" class="form-text">Please indicate how you would like to be addressed</div>
        </div>
        <div class="col-12 col-lg-6 mt-4 mt-lg-0">
            <label for="mail" class="form-label display-9">Your email address</label>
            <input name="entry.1438466593" type="email" class="form-control-lg w-100 rounded-0 atypique" id="mail" aria-describedby="mailHelp" placeholder="name@example.com" required>
            <div id="mailHelp1" class="form-text {{with .online}}{{.}}{{end}}">We will remind you about the conference</div>
        </div>
    </div>
        <div class="mb-3 form-check d-none">
            <input name="Subscription" type="checkbox" class="form-check-input" id="subscription" checked>
            <label class="form-check-label" for="subscription">I would like to receive the media project "About the Country and the World" newsletter with announcements of new events</label>
        </div>

        <div class="text-center mt-5"><button type="submit" class="btn btn-danger btn-lg rounded-0">Submit</button></div>

    </form>
    <!-- невидимый iframe для бесшовной отправки -->
     <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>

    <div id="success-message" class="d-none mx-5 display-8 text-center">{{with .success}}{{.}}{{end}} <a href="mailto:info@sakharov.world">info@sakharov.world</a></div>
    <div class="alert alert-danger rounded-0 d-none" role="alert">
        <h4 class="alert-heading">Registration Form</h4>
        <p>The number of seats in the hall is limited. If you want to attend the "Country and World: Russian Realities 2024" conference in person in Berlin, please fill out the registration form. We will send you an email with the address of the conference venue shortly.</p>
        <hr>
        <a href="https://forms.gle/PiG6yBmc9CwChhRv7" target="_blank" class="btn btn-danger rounded-0" role="button">Fill out the form</a>
      </div>
</div>