{{ define "main" }}

<div class="container">

    <div class="row mx-auto">

        <div class="col-xl-3">
            {{ partial "menu_en.html" . }}
        </div>

        <div class="col-xl-9 ps-xl-5">
            <div class="conference-image">
                <div class="my-xl-5 py-xl-5 pt-5">
                    <div class="my-xl-5 mt-5 py-sm-5">
                        <div class="fs-3">Organized by the project «Country and World»
                            <a class="ms-lg-2" href="https://sakharov.world/" target="_blank">
                                <img class="stmlogo1" src="../stmlogo.svg" alt="Country and World"/>
                            </a>
                        </div>
                        <h1 class="display-1 fw-bold text-uppercase my-5 ptserif">The Country and The&nbsp;World: Russian Realities 2025</h1>
                        <style>
                        @media (max-width: 418px) {
                            .conference-date {
                                font-size: 1.5rem !important;
                            }
                            .conference-date__badge {
                                padding-left: 0.5rem !important;
                                padding-right: 0.5rem !important;
                            }
                        }
                        @media (max-width: 352px) {
                            .conference-date {
                                font-size: 1.3rem !important;
                            }
                        }
                        </style>
                        <h2 class="display-6 fw-semibold my-5 conference-date"><mark class="text-white bg-success px-3 conference-date__badge">Berlin / November&nbsp;21–22</mark></h2>
                    </div>
                </div>
            </div>

        <div class="lead my-5">
            <p>On November 21–22, 2025, the Eighth International Conference «Country and World: Russian Realities-2025» will take place. From 2018 to 2021, the conferences were held by the Sakharov Center in Moscow. Since 2022, the conference has been held in Berlin.</p>
            <p>Political scientists, sociologists, and economists will discuss the transformation of the political regime, its ideology and repressive policies, the wartime economy, changes in public sentiment, as well as processes occurring in international relations.</p>
            <p>The conference will take place in Berlin and will be streamed on the <a href="https://www.youtube.com/@Ostraneimire" target=”_blank” class="link-danger">«Country and World»</a> YouTube channel.</p>
        </div>

    <div id="DayOne" class="mt-5 mb-3 pt-5">
        <h2 class="display-3 ptserif fw-bold mb-4">Day One</h2>
        <h4 class="display-7 mb-4">Guest Arrival 9.30-10.00 CET</h4>
    </div>
    
    <div id="Session1" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 1 "ssname" "Evolution of the Russian Political Regime" "sstime" "10.00-11.30 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Kirill Rogov" "image" "rogov" "affiliation" "Political scientist, director of the Re:Russia project" "theme" "The enemies of the heroes of the «Special Military Operation»: a silent debate about the future in Russian society") }}

        {{partial "lists/speaker_en.html" (dict "name" "Ekaterina Shulman" "image" "schulmann" "affiliation" "Political scientist, non-resident scholar at the Carnegie Russia Eurasia Center Berlin" "theme" "Erosion of Routine: Limits of Adaptability and Administrative Dysfunction in the Fourth Year of the War") }}

        {{partial "youtube.html" (dict "video" "t5YlIT7cASw") }}

    </div>

    <div class="py-lg-5 py-4 mt-4">
        <div class="d-flex flex-wrap align-items-center"><h3 class="display-5 fw-bold mb-4 ptserif">Coffee-break</h3></div>
        <h4 class="display-7 mb-4">11.30-12.00 CET</h4>
    </div>

    <div id="Session2" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 2 "ssname" "The Russian Threat and Europe’s Response" "sstime" "12.00-13.30 CET" "ssdesc" "" "badgeparam" "d-none" "dsg" "d-block") }}

        {{partial "lists/speaker_en.html" (dict "name" "Alexander Baunov" "image" "baunov" "affiliation" "Senior Fellow, Editor-in-Chief at the Carnegie Russia Eurasia Center" "theme" "" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker_en.html" (dict "name" "Roland Freudenstein" "image" "freudenstein" "affiliation" "Co-founder of the Brussels Freedom Hub, Senior Research Fellow at GLOBSEC" "theme" "Turning the tables: from resilience and deterrence to supporting freedom in Russia and elsewhere") }}

        {{partial "lists/speaker_en.html" (dict "name" "Maxim Kurnikov" "image" "kurnikov" "affiliation" "Senior editor of Bild, head of the media «Echo»" "theme" "" "additional" "d-block") }}

        {{partial "youtube.html" (dict "video" "3ZeEh4IRwoE") }}

    </div>

    <div class="py-lg-5 py-4 mt-4">
        <div class="d-flex flex-wrap align-items-center"><h3 class="display-5 fw-bold mb-4 ptserif">Lunch</h3></div>
        <h4 class="display-7 mb-4">13.30-14.30 CET</h4>
    </div>
    
    <div id="Session3" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 3 "ssname" "War Forever: Why Trump’s Peace Initiative Failed and Whether Putin Plans to Fight Forever" "sstime" "14.30-16.45 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Alexander Morozov" "image" "morozov" "affiliation" "Political scientist" "theme" "Three Scenarios for the End of the War. Consequences for Russia") }}

        {{partial "lists/speaker_en.html" (dict "name" "Vasily Zharkov" "image" "zharkov" "affiliation" "Political analyst, Associate Professor at the European Humanities University in Vilnius" "theme" "Trump, Putin, and the Structure of U.S.-Russia Relations in 2025") }}

        {{partial "lists/speaker_en.html" (dict "name" "Andreas Umland" "image" "umland" "affiliation" "Analyst at the Stockholm Centre for Eastern European Studies (SCEEUS) at the Swedish Institute of International Affairs, Associate Professor of Political Science at the National University of Kyiv-Mohyla Academy" "theme" "Security Guarantee Issues for Ukraine" "badgeparamsp" "d-block") }}
        
        {{partial "lists/speaker_en.html" (dict "name" "Kirill Martynov" "image" "martynov" "affiliation" "Editor at Novaya Gazeta Europe" "theme" "") }}

        {{partial "lists/speaker_en.html" (dict "name" "Maxim Kurnikov" "image" "kurnikov" "affiliation" "Senior editor of Bild, head of the media «Echo»" "theme" "" "additional" "d-block") }}

        {{partial "youtube.html" (dict "video" "yjISfgTlLNU") }}

    </div>

    <div class="py-lg-5 py-4 mt-4">
        <div class="d-flex flex-wrap align-items-center"><h3 class="display-5 fw-bold mb-4 ptserif">Coffee-break</h3></div>
        <h4 class="display-7 mb-4">16.45-17.30 CET</h4>
    </div>
    
    <div id="Session4" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 4 "ssname" "Neototalitarian Trends and the Ideologization of Society" "sstime" "17.30-19.45 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Ksenia Luchenko" "image" "lushenko" "affiliation" "Journalist, researcher of Russian Orthodoxy, its influence on Russian politics and society, author of «With Good Intentions: The Russian Orthodox Church and Power from Gorbachev to Putin»" "theme" "Evolution of the Russian Orthodox Church During the War: The Origins of the Alliance Between the Church and Nationalists") }}

        {{partial "lists/speaker_en.html" (dict "name" "Dina Khapaeva" "image" "hapaeva" "affiliation" "Historian, sociologist, lecturer at Georgia Tech (Atlanta), author of «Terror and Memory»" "theme" "Russian Political Neomedievalism: Normalization of Terror as a Method of Governance" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker_en.html" (dict "name" "Sergey Davidis" "image" "davidis" "affiliation" "Head of the independent human rights project «Support for Political Prisoners. Memorial»" "theme" "Political Repressions in 2025: Leading Charges — Treason and Terrorism") }}

        {{partial "youtube.html" (dict "video" "Pk3RvkSEXgo") }}
        
    </div>

    <div id="DayTwo" class="mt-5 pt-5 mb-3">
        <h2 class="display-3 ptserif fw-bold">Day Two</h2>
    </div>

    <div id="Session5" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 5 "ssname" "Resistance and Submission: How Russian Society Adapts to War and Dictatorship" "sstime" "10.00-11.30 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Vsevolod Bederson" "image" "bederson" "affiliation" "Political scientist, researcher at the «Chronicles» project" "theme" "Multiverses of the Special Military Operation: Acceptance and Rejection of War in Russian Society") }}

        {{partial "lists/speaker_en.html" (dict "name" "Andrey Kolesnikov" "image" "kolesnikov" "affiliation" "Columnist for Novaya Gazeta and The New Times" "theme" "Reason and Feelings in Captivity: Mechanisms of Escape from Reality" "badgeparamsp" "d-block") }}

        {{partial "youtube.html" (dict "video" "JtQZ6bqLIWY") }}

    </div>

    <div class="py-lg-5 py-4 mt-4">
        <div class="d-flex flex-wrap align-items-center"><h3 class="display-5 fw-bold mb-4 ptserif">Coffee-break</h3></div>
        <h4 class="display-7 mb-4">11.30-12.00 CET</h4>
    </div>

    <div id="Session6" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 6 "ssname" "Identity and International Relations During Wartime" "sstime" "12.00-13.30 CET" "ssdesc" "" "badgeparam" "d-none" "dsg" "d-block") }}

        {{partial "lists/speaker_en.html" (dict "name" "Lev Gudkov" "image" "gudkov" "affiliation" "Research Director at Levada Center" "theme" "Friends and Enemies of Russia: Collective Identity During the Special Military Operation" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker_en.html" (dict "name" "Andreas Heinemann-Grüder" "image" "gruder" "affiliation" "Professor of Political Science, University of Bonn, Research Fellow, Global Public Policy Institute" "theme" "Fundamentalist Historical Narrative and Russian Politics" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker_en.html" (dict "name" "Inna Berezkina" "image" "berezkina" "affiliation" "Program Director at the School of Civic Education, editor at Sapere Online, Research Fellow at The World in Pieces Program at IWM, Wien" "theme" "" "additional" "d-block") }}

        {{partial "youtube.html" (dict "video" "ZzqXZVeM-ZM") }}

    </div>

    <div class="py-lg-5 py-4 mt-4">
        <div class="d-flex flex-wrap align-items-center"><h3 class="display-5 fw-bold mb-4 ptserif">Lunch</h3></div>
        <h4 class="display-7 mb-4">13.30-14.30 CET</h4>
    </div>
    
    <div id="Session7" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 7 "ssname" "Can the Economy Withstand War?" "sstime" "14.30-16.00 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Alexandra Prokopenko" "image" "prokopenko" "affiliation" "Carnegie Russia Eurasia Center" "theme" "Russian Economy: No Conventional Balancing Instruments Left. What's Next?") }}

        {{partial "lists/speaker_en.html" (dict "name" "Andrey Yakovlev" "image" "yakovlev" "affiliation" "Associate Researcher at the Davis Center (Harvard) and at the Free University of Berlin" "theme" "War of Attrition:  economic stagnation, and the mobilizational transformation of Russian elites") }}

        {{partial "youtube.html" (dict "video" "fumHVx2GJc4") }}

    </div>

    <div class="py-lg-5 py-4 mt-4">
        <div class="d-flex flex-wrap align-items-center"><h3 class="display-5 fw-bold mb-4 ptserif">Coffee-break</h3></div>
        <h4 class="display-7 mb-4">16.00-16.30 CET</h4>
    </div>
    
    <div id="Session8" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 8 "ssname" "Elite Repressions, Redistribution of Property and Spheres of Influence" "sstime" "16.30-18.00 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Nikolay Petrov" "image" "petrov" "affiliation" "Political scientist" "theme" "The Russian Political System Through the Lens of Repressions: How Putin’s Repressions Differ from Stalin’s" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker_en.html" (dict "name" "Oksana Antonenko" "image" "antonenko" "affiliation" "Professor at the European University Institute in Florence, research fellow at the Kennan Institute in Washington" "theme" "The Political Economy of War: Winners and Losers from the Demodernization of Russia") }}

        {{partial "youtube.html" (dict "video" "uaweHztrTVo") }}

    </div>

    <div id="Session9" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 9 "ssname" "Short presentations by discussants and closing of the conference" "sstime" "18.30-20.00 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Inna Berezkina" "image" "berezkina" "affiliation" "Program Director at the School of Civic Education, editor at Sapere Online, Research Fellow at The World in Pieces Program at IWM, Wien" "theme" "") }}

        {{partial "lists/speaker_en.html" (dict "name" "Andrei Pertsev" "image" "pertsev" "affiliation" "Journalist, special correspondent for Meduza, author of Riddle" "theme" "") }}

        {{partial "lists/speaker_en.html" (dict "name" "Dmitry Stratievsky" "image" "stratievsky" "affiliation" "Political scientist, historian, director of the Center for Eastern European Studies (Osteuropa-Zentrum Berlin e.V.)" "theme" "") }}

        {{partial "lists/speaker_en.html" (dict "name" "Kirill Shamiev" "image" "shamiev" "affiliation" "Research fellow at the European Council on Foreign Relations" "theme" "") }}

        {{partial "lists/speaker_en.html" (dict "name" "Sergey Shelin" "image" "shelin" "affiliation" "Political analyst, author of the book «Engaging Russia»" "theme" "") }}

        {{partial "youtube.html" (dict "video" "pENQ903rL1o") }}

    </div>

    </div>

    </div>

    </div>

</div>

<div class="container pb-5">
    <div class="row py-5 registrationform mx-auto">

        <h2 id="Registration" class="display-4 display-5 fw-bold text-center mb-5 ptserif">Регистрация</h2>

        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeCIkd8XejQC1M4lVefv0KA1qGB-uxbLq3yf4hsCdD4V-et8Q/viewform?embedded=true" width="640" height="1259" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>

    </div>
</div>

{{ end }}