{{ define "main" }}

<div class="container">

    <div class="row mx-auto">

        <div class="col-xl-3">
            {{ partial "menu_en.html" . }}
        </div>

        <div class="col-xl-9 ps-xl-5">
            <div class="conference-image">
                <div class="my-xl-5 py-xl-5 pt-5">
                    <div class="my-xl-5 mt-5 py-5">
                        <div class="fs-3">Organized by the project Country and World
                            <a class="ms-lg-2" href="https://sakharov.world/" target="_blank">
                                <img class="stmlogo1" src="../stmlogo.svg" alt="Country and World"/>
                            </a>
                        </div>
                        <h1 class="display-1 fw-bold text-uppercase my-5 ptserif">Country and World: Russian Realities 2024</h1>
                        <h2 class="display-6 my-5"><mark class="text-white bg-danger">Berlin, November 28-29</mark></h2>
                        <div class="fs-3 pt-4">Media partners
                            <a href="https://radiosakharov.org/" target="_blank"><img class="stmologo ms-2" src="../rslogo.png" alt="Radio Sakharov"/></a>
                            <a href="https://www.themoscowtimes.com/" target="_blank"><img class="stmologo ms-2" src="../tmtlogo.svg" alt="The Moscow Times"/></a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="lead my-5">
            <p>The international conference <span class="fst-italic">Country and the World: Russian Realities-2024</span> continues the series of annual conferences, which were held at the Sakharov Centre in Moscow from 2018 to 2021. The aim of the conference is to analyze the current political, economic and social situation in Russia, which has been waging a war of aggression against Ukraine for two and a half years. The 18 papers presented at the 2-day conference discuss the transformation of the political regime in Russia, global and European political issues in relation to Russian aggression, the wartime Russian economy, the state of Russian society and the repression it faces, as well as the work of independent Russian media in exile.</p>
            <p>The conference will take place in Berlin and will be broadcast live on the Youtube channel <a href="https://www.youtube.com/@Ostraneimire" target=”_blank” class="link-danger fst-italic">Country and World</a>. The working languages of the conference are Russian and English with simultaneous translation provided.</p>
            <p>The program curator: Boris Grozovski.</p>
            <p>The program director: Sergey Lukashevsky.</p>
            <p>Technical and organizational support: Daria Basaman, Ruslan Dzhan, Vera Ryklina, Andrei Samokhotkin, Natalia Tyurina, Ilya Figlin, Nora Erdmann.</p>
        </div>

    <div id="DayOne" class="mt-5 mb-3 pt-5">
        <h2 class="display-3 ptserif fw-bold">Day One</h2>
    </div>
    
    <div id="Session1" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 1 "ssname" "Evolution of the Russian political regime" "sstime" "10.00-11.20 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Kirill Rogov" "image" "rogov" "affiliation" "Political scientist, director of the Re:Russia project" "theme" "TBA" "badgeparamsp" "d-block") }}
                
        {{partial "lists/speaker_en.html" (dict "name" "Ekaterina Shulman" "image" "schulmann" "affiliation" "Political scientist, non-resident scholar at Carnegie Russia Eurasia Center Berlin" "theme" "TBA") }}

        {{partial "youtube" ( dict "video" "_iNF0zrDBew") }}

    </div>

    <div id="Session2" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 2 "ssname" "Without a Beautiful Russia of the Future: Are There Good Scenarios?" "sstime" "11.40-13.00 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Andrey Kolesnikov" "image" "kolesnikov" "affiliation" "Columnist for Novaya Gazeta and The New Times" "theme" "The Russian Spanish dream: is normalization after Putin possible" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker_en.html" (dict "name" "Alexander Morozov" "image" "morozov" "affiliation" "Political scientist" "theme" "TBA") }}

        {{partial "youtube" ( dict "video" "9pPXp9yHku0") }}

    </div>
    
    <div id="Session3" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 3 "ssname" "Is Sustainable Peace with Russia Possible?" "sstime" "14.00-15.20 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Mikhail Minakov" "image" "minakov" "affiliation" "Philosopher, head of the Ukrainian research program at the Kennan Institute" "theme" "Conditions for Peace in Eastern Europe and Northern Eurasia") }}

        {{partial "lists/speaker_en.html" (dict "name" "Andreas Umland" "image" "umland" "affiliation" "Analyst at the Stockholm Centre for Eastern European Studies (SCEEUS) at the Swedish Institute of International Affairs, Associate Professor of Political Science at the National University of Kyiv-Mohyla Academy" "theme" "TBA") }}

        {{partial "youtube" ( dict "video" "_eYuiHz5ak4") }}

    </div>
    
    <div id="Session4" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 4 "ssname" "The New Cold War" "sstime" "15.40-17.00 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Konstantin Eggert" "image" "eggert" "affiliation" "Columnist and programme host at Deutsche Welle" "theme" "Invasion 2.0? Why the Baltic States consider themselves frontline states" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker_en.html" (dict "name" "Maria Snegovaya" "image" "snegovaya" "affiliation" "Political scientist, Adjunct Professor at the Walsh School of Foreign Service at Georgetown University, senior fellow at the Europe, Russia and Eurasia Program at the Center for Strategic and International Studies (CSIS)" "theme" "TBA" "badgeparamsp" "d-block") }}
        
        {{partial "youtube" ( dict "video" "mfo_dcpzvh8") }}
        
    </div>

    <div id="Session5" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 5 "ssname" "Russia and Global Politics" "sstime" "17.20-18.40 CET" "ssdesc" "" "badgeparam" "d-none") }}
        
        {{partial "lists/speaker_en.html" (dict "name" "Stefan Meister" "image" "meister" "affiliation" "Head of the Center for Order and Governance in Eastern Europe, Russia and Central Asia at the German Council on Foreign Relations (DGAP)" "theme" "TBA") }}

        {{partial "youtube" ( dict "video" "92ZCEcxUsO8") }}
        
    </div>

    <div id="DayTwo" class="mt-5 mb-3">
        <h2 class="display-3 ptserif fw-bold">Day Two</h2>
    </div>

    <div id="Session6" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 6 "ssname" "What Do We Know about the Mood of Russians?" "sstime" "10.00-11.20 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Oleg Zhuravlev" "image" "juravlev" "affiliation" "Sociologist, employee of the Laboratory of Public Sociology, research fellow at the Scuola Normale Superiore" "theme" "How the Attitudes and Views of Russians on War, Power and Russia are Changing: 2022-2024") }}

        {{partial "lists/speaker_en.html" (dict "name" "Alexey Levinson" "image" "levinson" "affiliation" "Head of the socio-cultural research department at the Levada Center" "theme" "Are Russians tired of war? Or do they not notice it?" "badgeparamsp" "d-block") }}

        {{partial "youtube" ( dict "video" "p4Pb4vov5-E") }}

    </div>

    <div id="Session7" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 7 "ssname" "Repression and Human Rights" "sstime" "11.40-13.00 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Sergey Davidis" "image" "davidis" "affiliation" "head of the independent human rights project «Support for political prisoners. Memorial»" "theme" "Political Repression: a Tool of Control and a Cause for Solidarity") }}

        {{partial "lists/speaker_en.html" (dict "name" "Mariana Katsarova" "image" "katsarova" "affiliation" "United Nations Special Rapporteur on human rights issues within the Russian Federation" "theme" "TBA") }}

        {{partial "youtube" ( dict "video" "EVwqSWafAds") }}

    </div>
    
    <div id="Session8" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 8 "ssname" "Russian-language media: between those who left and those who staying in Russia" "sstime" "14.00-15.20 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Elizaveta Osetinskaya" "image" "osetinskaya" "affiliation" "Founder of The Bell and «This is Osetinskaya» projects" "theme" "Independent Media in Exile: Economic Sustainability and Contact with the Audience" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker_en.html" (dict "name" "Taisiya Bekbulatova" "image" "bekbulatova" "affiliation" "Founder of independent Russian publications Kholod and Kosa" "theme" "Independent media in exile: will a communicative ‘iron curtain’ emerge this time?") }}

        {{partial "youtube" ( dict "video" "02lRrM2UryI") }}

    </div>
    
    <div id="Session9" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 9 "ssname" "Economics at War" "sstime" "15.40-17.00 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker_en.html" (dict "name" "Andrei Yakovlev" "image" "yakovlev" "affiliation" "Associate Researcher, Davis Center, Harvard and Research Fellow at the Hanse-Wissenschaftskolleg" "theme" "Political Economy of Wartime") }}

        {{partial "lists/speaker_en.html" (dict "name" "Pavel Luzin" "image" "luzin" "affiliation" "Military policy specialist, visiting fellow at the Fletcher School, senior fellow at the Jamestown Foundation, non-resident senior fellow at the Center for European Policy Analysis" "theme" "The Russian Military-Industrial Complex and the Army at the End of the Third Year of the War" "badgeparamsp" "d-block") }}

        {{partial "youtube" ( dict "video" "j4tdsscTw4A") }}

    </div>

    <div id="Session10" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session_en.html" (dict "ssnumber" 10 "ssname" "Closing discussion" "sstime" "17.00-18.00 CET" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "youtube" ( dict "video" "naj9eXC0SaA") }}

    </div>

    </div>

    </div>

</div>

<!--
 <div class="container pb-5">
    <div class="row py-5 registrationform mx-auto">

        {{ partial "registration.html" (dict "google" "AKfycbww7jk_my7ZdmWjKmhycRk32u6DoTWZNg9Xxu8g8BrdKNB6ezlhRgD_euehTEM9IWD1xQ" "inplace" "d-none" "success" "Спасибо, вы успешно зарегистрировались! В день мероприятия мы пришлем вам ссылки на конференцию. В случае, если письмо не придет, проверьте папку «Спам». При наличии дополнительных вопросов напишите нам:") }}

    </div>
</div>
-->

{{ end }}