{{ define "main" }}

<div class="container">

    <div class="row mx-auto">

        <div class="col-xl-3">
            {{ partial "menu.html" . }}
        </div>

        <div class="col-xl-9 ps-xl-5">
            <div class="conference-image">
                <div class="my-xl-5 py-xl-5 pt-5">
                    <div class="my-xl-5 mt-5 py-sm-5">
                        <div class="fs-3">Конференция организована проектом
                            <a class="ms-lg-2" href="https://sakharov.world/" target="_blank">
                                <img class="stmlogo1" src="../stmlogo.svg" alt="О стране и мире"/>
                            </a>
                        </div>
                        <h1 class="display-1 fw-bold text-uppercase my-5 ptserif">Страна и мир: российские реалии 2025</h1>
                        <h2 class="display-6 fw-semibold my-5"><mark class="text-white bg-success px-3">Берлин / 21-22 ноября</mark></h2>
                        <div class="fs-3 pt-4">Медиа-партнер
                            <a href="https://radiosakharov.org/" target="_blank"><img class="stmologo ms-sm-2" src="../rslogo.png" alt="Радио Сахаров"/></a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="lead my-5">
            <p>21-22 ноября 2025 года состоится Восьмая международная конференция «Страна и мир: Российские Реалии-2025». В 2018-2021 их проводил Сахаровский центр в Москве. С 2022 году конференция проходит в Берлине.</p> 
            <p>Политологи, социологи и экономисты будут обсуждать трансформацию политического режима, его идеологии и репрессивной политики, экономику военного времени, изменения общественных настроений, а также процессы, которые происходят в международных отношениях.</p>
            <p>Конференция пройдет в Берлине и будет транслироваться в прямом эфире на Youtube канале <a href="https://www.youtube.com/@Ostraneimire" target=”_blank” class="link-danger">«Страна и мир»</a>.</p>
        </div>

    <div id="DayOne" class="mt-5 mb-3 pt-5">
        <h2 class="display-3 ptserif fw-bold mb-4">День первый</h2>
        <h4 class="display-7 mb-4">Сбор гостей 9.30-10.00 CET</h4>
    </div>
    
    <div id="Session1" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 1 "ssname" "Эволюция российского политического режима" "sstime" "10.00-11.30 CET / 12.00-13.30 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Кирилл Рогов" "image" "rogov" "affiliation" "Политолог, директор проекта Re:Russia" "theme" "Ни войны, ни мира? Заканчивается ли война на истощение?") }}
                
        {{partial "lists/speaker.html" (dict "name" "Екатерина Шульман" "image" "schulmann" "affiliation" "Политолог, nonresident scholar в Carnegie Russia Eurasia Center Berlin" "theme" "Власть стареет, преемников нет, кто наследники и как чувствуют себя элиты") }}

    </div>

    <div id="Session2" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 2 "ssname" "Российская угроза и ответ Европы" "sstime" "12.00-13.30 CET / 14.00-15.30 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Александр Баунов" "image" "baunov" "affiliation" "Senior fellow, editor-in-chief at the Carnegie Russia Eurasia Center" "theme" "Тема будет вскоре анонсирована" "badgeparamsp" "d-block" "dsg" "d-block") }}

        {{/* {{partial "lists/speaker.html" (dict "name" "Штефан Майстер" "image" "meister" "affiliation" "Head of the Center for Order and Governance in Eastern Europe, Russia and Central Asia at the German Council on Foreign Relations (DGAP)" "theme" "Тема будет вскоре анонсирована") }} */}}

    </div>
    
    <div id="Session3" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 3 "ssname" "Война forever: почему провалилась мирная инициатива Трампа и собирается ли Путин воевать вечно" "sstime" "14.30-16.45 CET / 16.30-18.45 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Александр Морозов" "image" "morozov" "affiliation" "Политолог" "theme" "Три сценария окончания войны. Последствия для России") }}

        {{partial "lists/speaker.html" (dict "name" "Андреас Умланд" "image" "umland" "affiliation" "Аналитик Stockholm Centre for Eastern European Studies (SCEEUS) в Swedish Institute of International Affairs, Associate Professor of Political Science в National University of Kyiv-Mohyla Academy" "theme" "Проблемы с гарантиями безопасности для Украины" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker.html" (dict "name" "Василий Жарков" "image" "zharkov" "affiliation" "Политический аналитик, приглашенный лектор Европейского гуманитарного университета в Вильнюсе" "theme" "Трамп, Путин и структура американо-российских отношений в 2025 году") }}

    </div>
    
    <div id="Session4" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 4 "ssname" "Неототалитарные тенденции и идеологизация общества" "sstime" "17.30-19.45 CET / 19.30-21.45 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Ксения Лученко" "image" "lushenko" "affiliation" "Журналист, исследователь русского православия, его влияния на российскую политику и общество, автор книги «Благими намерениями. Русская православная церковь и власть от Горбачева до Путина» " "theme" "Тема будет вскоре анонсирована") }}

        {{partial "lists/speaker.html" (dict "name" "Дина Хапаева" "image" "hapaeva" "affiliation" "Историк, социолог, преподаватель Технологического университета Джорджии (Атланта), автор книги «Террор и память»" "theme" "Российский политический неомедиевализм: нормализация террора как метода правления") }}

        {{partial "lists/speaker.html" (dict "name" "Сергей Давидис" "image" "davidis" "affiliation" "Руководитель независимого правозащитного проекта «Поддержка политзаключенных. Мемориал»" "theme" "Политические репрессии в 2025 году: в лидерах — госизмена и террористические статьи") }}
                
    </div>

    <div id="DayTwo" class="mt-5 pt-5 mb-3">
        <h2 class="display-3 ptserif fw-bold">День второй</h2>
    </div>

    <div id="Session5" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 5 "ssname" "Сопротивление и покорность: как российское общество адаптируется к войне и диктатуре" "sstime" "10.00-11.30 CET / 12.00-13.30 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Всеволод Бедерсон" "image" "bederson" "affiliation" "Политолог, исследователь проекта «Хроники»" "theme" "Мультивселенные «СВО»: направления принятия и отрицания войны в российском обществе") }}

        {{partial "lists/speaker.html" (dict "name" "Андрей Колесников" "image" "kolesnikov" "affiliation" "Обозреватель «Новой газеты» и The New Times" "theme" "Разум и чувства в заложниках: механизмы спасения от реальности") }}

    </div>

    <div id="Session6" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 6 "ssname" "Идентичность и международные отношения во время войны" "sstime" "12.00-13.30 CET / 14.00-15.30 МСК" "ssdesc" "" "badgeparam" "d-none" "dsg" "d-block") }}

        {{partial "lists/speaker.html" (dict "name" "Лев Гудков" "image" "gudkov" "affiliation" "" "theme" "Друзья и враги России: коллективная идентичность в состоянии СВО") }}

        {{/* {{partial "lists/speaker.html" (dict "name" "Яна Пуглирин" "image" "puglierin" "affiliation" "Глава ECFR в Берлине, старший научный сотрудник по вопросам политики" "theme" "Восприятие России европейцами. Готовится ли Европа к войне?") }} */}}

    </div>
    
    <div id="Session7" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 7 "ssname" "Экономика не выдерживает войну?" "sstime" "14.30-16.00 CET / 16.30-18.00 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Саша Прокопенко" "image" "prokopenko" "affiliation" "Сотрудник Carnegie Russia Eurasia Center" "theme" "Тема будет вскоре анонсирована") }}

        {{partial "lists/speaker.html" (dict "name" "Андрей Яковлев" "image" "yakovlev" "affiliation" "Ассоциированный исследователь Центра Дэвиса в Гарварде и Свободного университета Берлина" "theme" "Тема будет вскоре анонсирована") }}
    </div>
    
    <div id="Session8" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 8 "ssname" "Элитные репрессии, передел собственности и сфер влияния" "sstime" "16.30-18.00 CET / 18.30-20.00 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Николай Петров" "image" "petrov" "affiliation" "Политолог" "theme" "Российская политическая система в зеркале репрессий: чем путинские репрессии отличаются от сталинских?") }}

        {{partial "lists/speaker.html" (dict "name" "Оксана Антоненко" "image" "antonenko" "affiliation" "" "theme" "Тема будет вскоре анонсирована") }}
    </div>

    <div id="Session9" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 9 "ssname" "Краткие выступления участников дискуссии и закрытие конференции" "sstime" "18.30-20.00 CET / 20.30-22.00 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Андрей Перцев" "image" "pertsev" "affiliation" "Журналист, специальный корреспондент «Медузы», автор Riddle" "theme" "") }}
        
        {{partial "lists/speaker.html" (dict "name" "Дмитрий Стратиевский" "image" "stratievsky" "affiliation" "Политолог, историк, директор Центра изучения Восточной Европы (Osteuropa-Zentrum Berlin e.V.)" "theme" "") }}

        {{partial "lists/speaker.html" (dict "name" "Кирилл Шамиев" "image" "shamiev" "affiliation" "Научный сотрудник European Council on Foreign Relations" "theme" "") }}

        {{partial "lists/speaker.html" (dict "name" "Сергей Шелин" "image" "shelin" "affiliation" "Политический аналитик, автор книги «Занимательная Россия»" "theme" "") }}

    </div>

    </div>

    </div>

</div>

 <div class="container pb-5">
    <div class="row py-5 registrationform mx-auto">

        {{ partial "registration.html" (dict "google" "1FAIpQLSf9Fr0SFTeRWtC6DyZFdnYqeX2KHHTjP8LH7jGMIoCxQTpSog" "inplace" "d-none" "success" "Спасибо, вы успешно зарегистрировались! Мы отправили вам письмо с подтвержддением регистрации и напомним вам о конференции за день до ее начала. В случае, если письмо не приходит, проверьте папку «Спам». При наличии дополнительных вопросов напишите нам:") }}

    </div>
</div>

{{ end }}