{{ define "main" }}

<div class="container">

    <div class="row mx-auto">

        <div class="col-xl-3">
            {{ partial "menu.html" . }}
        </div>

        <div class="col-xl-9 ps-xl-5">
            <div class="conference-image">
                <div class="my-xl-5 py-xl-5 pt-5">
                    <div class="my-xl-5 mt-5 py-sm-5">
                        <div class="fs-3">Конференция организована проектом
                            <a class="ms-lg-2" href="https://sakharov.world/" target="_blank">
                                <img class="stmlogo1" src="../stmlogo.svg" alt="О стране и мире"/>
                            </a>
                        </div>
                        <h1 class="display-1 fw-bold text-uppercase my-5 ptserif">Страна и мир: российские реалии 2024</h1>
                        <h2 class="display-6 my-5"><mark class="text-white bg-danger">Берлин, 28-29 ноября</mark></h2>
                        <div class="fs-3 pt-4">Медиа-партнеры
                            <a href="https://radiosakharov.org/" target="_blank"><img class="stmologo ms-sm-2" src="../rslogo.png" alt="Радио Сахаров"/></a>
                            <a href="https://www.themoscowtimes.com/" target="_blank"><img class="stmologo ms-sm-2" src="../tmtlogo.svg" alt="The Moscow Times"/></a>
                        </div>
                    </div>
                </div>
            </div>

        <div class="lead my-5">
            <p>28-29 ноября 2024 года состоится международная конференция «Страна и мир: Российские Реалии-2024». Она продолжает серию ежегодных конференций, которые в 2018-2021 годах проходили в московском Сахаровском центре. С 2023 года конференция стала международной.</p>
            <p>Мы будем говорить об агрессивной войне, которую Россия ведет в Украине уже два с половиной года, и о том, что происходит в самой России на фоне этой войны. Политологи, социологи, экономисты, специалисты по международным отношениям будут обсуждать трансформацию политического режима и его идеологии, экономику военного времени и эффективность санкционной политики Запада, состояние российского общества и репрессии внутри страны.</p>
            <p>Среди участников конференции Кирилл Рогов, Екатерина Шульман, Александр Морозов, Мария Снеговая, Андрей Яковлев, Павел Лузин, Алексей Левинсон и другие.</p>
            <p>Конференция будет транслироваться в прямом эфире на Youtube канале «Страна и мир». Подпишитесь <a href="https://www.youtube.com/@Ostraneimire" target=”_blank” class="link-danger">на наш канал</a> и нажмите на колокольчик, чтобы вам пришло уведомление о начале трансляции.</p>
            <p>Вы также можете следить за обновлениями программы конференции и ее расписанием <a href="https://fb.me/e/3RLM326lG" target=”_blank” class="link-danger">в нашем мероприятии</a> в Facebook.</p>
            <p>Куратор программы — Борис Грозовский.</p>
            <p>Директор программы — Сергей Лукашевский.</p>
            <p>Организационная и техническая поддержка — Дарья Басаман, Руслан Джан, Вера Рыклина, Андрей Самохоткин, Наталья Тюрина, Илья Фиглин, Нора Эрдманн.</p>
        </div>

    <div id="DayOne" class="mt-5 mb-3 pt-5">
        <h2 class="display-3 ptserif fw-bold">День первый</h2>
    </div>
    
    <div id="Session1" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 1 "ssname" "Эволюция российского политического режима" "sstime" "10.00-11.20 CET / 12.00-13.20 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Кирилл Рогов" "image" "rogov" "affiliation" "Политолог, директор проекта Re:Russia" "theme" "TBA" "badgeparamsp" "d-block") }}
                
        {{partial "lists/speaker.html" (dict "name" "Екатерина Шульман" "image" "schulmann" "affiliation" "Политолог, nonresident scholar в Carnegie Russia Eurasia Center Berlin" "theme" "TBA") }}

        {{partial "youtube" ( dict "video" "_iNF0zrDBew") }}

    </div>

    <div id="Session2" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 2 "ssname" "Без Прекрасной России Будущего: есть ли хорошие сценарии?" "sstime" "11.40-13.00 CET / 13.40-15.00 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Андрей Колесников" "image" "kolesnikov" "affiliation" "Обозреватель «Новой газеты» и The New Times" "theme" "Русская испанская мечта: возможна ли нормализация после Путина" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker.html" (dict "name" "Александр Морозов" "image" "morozov" "affiliation" "Политолог" "theme" "Институциональное устройство России после Путина: программные идеи российской оппозиции") }}

        {{partial "youtube" ( dict "video" "9pPXp9yHku0") }}

    </div>
    
    <div id="Session3" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 3 "ssname" "Возможен ли прочный мир с Россией?" "sstime" "14.00-15.20 CET / 16.00-17.20 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Михаил Минаков" "image" "minakov" "affiliation" "Философ, руководитель украинской исследовательской программы в Kennan Institute" "theme" "Условия для мира в Восточной Европе и северной Евразии") }}

        {{partial "lists/speaker.html" (dict "name" "Андреас Умланд" "image" "umland" "affiliation" "Аналитик Stockholm Centre for Eastern European Studies (SCEEUS) в Swedish Institute of International Affairs, Associate Professor of Political Science в National University of Kyiv-Mohyla Academy" "theme" "TBA") }}

        {{partial "youtube" ( dict "video" "_eYuiHz5ak4") }}

    </div>
    
    <div id="Session4" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 4 "ssname" "Новая холодная война" "sstime" "15.40-17.00 CET / 17.40-19.00 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Константин Эггерт" "image" "eggert" "affiliation" "Обозреватель и ведущий программ Deutsche Welle " "theme" "Вторжение 2.0? Почему страны Балтии считают себя прифронтовыми" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker.html" (dict "name" "Мария Снеговая" "image" "snegovaya" "affiliation" "Политолог, Adjunct Professor Walsh School of Foreign Service в Georgetown University, старший сотрудник программы Европы, России и Евразии в Center for Strategic and International Studies (CSIS)" "theme" "TBA" "badgeparamsp" "d-block") }}
        
        {{partial "youtube" ( dict "video" "mfo_dcpzvh8") }}
        
    </div>

    <div id="Session5" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 5 "ssname" "Россия и глобальная политика" "sstime" "17.20-18.40 CET / 19.20-20.40 МСК" "ssdesc" "" "badgeparam" "d-none") }}
        
        {{partial "lists/speaker.html" (dict "name" "Штефан Майстер" "image" "meister" "affiliation" "Head of the Center for Order and Governance in Eastern Europe, Russia and Central Asia at the German Council on Foreign Relations (DGAP)" "theme" "TBA") }}

        {{partial "youtube" ( dict "video" "92ZCEcxUsO8") }}
        
    </div>

    <div id="DayTwo" class="mt-5 pt-5 mb-3">
        <h2 class="display-3 ptserif fw-bold">День второй</h2>
    </div>

    <div id="Session6" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 6 "ssname" "Что мы знаем о настроениях россиян?" "sstime" "10.00-11.20 CET / 12.00-13.20 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Олег Журавлев" "image" "juravlev" "affiliation" "Социолог, сотрудник Лаборатории публичной социологии, научный сотрудник Scuola Normale Superiore" "theme" "Как меняются настроения и взгляды россиян на войну, власть и Россию: 2022-2024") }}

        {{partial "lists/speaker.html" (dict "name" "Алексей Левинсон" "image" "levinson" "affiliation" "Руководитель отдела социально-культурных исследований «Левада-центра»" "theme" "Устали ли россияне от войны? Или они ее не замечают?" "badgeparamsp" "d-block") }}

        {{partial "youtube" ( dict "video" "p4Pb4vov5-E") }}

    </div>

    <div id="Session7" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 7 "ssname" "Репрессии и права человека" "sstime" "11.40-13.00 CET / 13.40-15.00 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Сергей Давидис" "image" "davidis" "affiliation" "Руководитель независимого правозащитного проекта «Поддержка политзаключенных. Мемориал»" "theme" "Политические репрессии: инструмент контроля и повод для солидарности") }}

        {{partial "lists/speaker.html" (dict "name" "Мариана Кацарова" "image" "katsarova" "affiliation" "Спецдокладчица ООН по вопросам прав человека в России" "theme" "TBA") }}

        {{partial "youtube" ( dict "video" "EVwqSWafAds") }}

    </div>
    
    <div id="Session8" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 8 "ssname" "Русскоязычные медиа: между уехавшими и оставшимися" "sstime" "14.00-15.20 CET / 16.00-17.20 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Елизавета Осетинская" "image" "osetinskaya" "affiliation" "Основательница проектов The Bell и «Это Осетинская»" "theme" "Независимые медиа в изгнании: экономическая устойчивость и контакт с аудиторией" "badgeparamsp" "d-block") }}

        {{partial "lists/speaker.html" (dict "name" "Таисия Бекбулатова" "image" "bekbulatova" "affiliation" "Основательница независимых российских изданий «Холод» и «Коса»" "theme" "Независимые медиа в изгнании: возникнет ли в этот раз коммуникативный «железный занавес»?") }}

        {{partial "youtube" ( dict "video" "02lRrM2UryI") }}

    </div>
    
    <div id="Session9" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 9 "ssname" "Экономика военного времени" "sstime" "15.40-17.00 CET / 17.40-19.00 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Андрей Яковлев" "image" "yakovlev" "affiliation" "Ассоциированный исследователь Центра Дэвиса в Гарварде и научный сотрудник Hanse-Wissenschaftskolleg" "theme" "Политэкономия военного времени") }}

        {{partial "lists/speaker.html" (dict "name" "Павел Лузин" "image" "luzin" "affiliation" "Специалист по военной политике, приглашенный научный сотрудник Школы Флетчера, старший научный сотрудник Фонда Джеймстауна, старший научный сотрудник-нерезидент Центра анализа европейской политики" "theme" "Российский ВПК и армия на исходе третьего года войны" "badgeparamsp" "d-block") }}

        {{partial "youtube" ( dict "video" "j4tdsscTw4A") }}

    </div>

    <div id="Session10" class="py-lg-5 py-4 mt-4">

        {{partial "lists/session.html" (dict "ssnumber" 10 "ssname" "Заключительная дискуссия" "sstime" "17.00-18.30 CET / 19.00-20.30 МСК" "ssdesc" "" "badgeparam" "d-none") }}

        {{partial "lists/speaker.html" (dict "name" "Маргарита Завадская" "image" "zavadskaya" "affiliation" "Политолог, социолог, научный сотрудник Финского института международных отношений" "theme" "TBA") }}

        {{partial "lists/speaker.html" (dict "name" "Элла Панеях" "image" "paneiakh" "affiliation" "Социолог" "theme" "TBA") }}
        
        {{partial "lists/speaker.html" (dict "name" "Николай Петров" "image" "petrov" "affiliation" "Руководитель Центра политико-географических исследований" "theme" "TBA") }}

        {{partial "youtube" ( dict "video" "naj9eXC0SaA") }}

    </div>

    </div>

    </div>

</div>

<!--
 <div class="container pb-5">
    <div class="row py-5 registrationform mx-auto">

        {{ partial "registration.html" (dict "google" "AKfycbww7jk_my7ZdmWjKmhycRk32u6DoTWZNg9Xxu8g8BrdKNB6ezlhRgD_euehTEM9IWD1xQ" "inplace" "d-none" "success" "Спасибо, вы успешно зарегистрировались! В день мероприятия мы пришлем вам ссылки на конференцию. В случае, если письмо не придет, проверьте папку «Спам». При наличии дополнительных вопросов напишите нам:") }}

    </div>
</div>
-->

{{ end }}